@media only screen and (max-width: 600px) {
   .nav-links{
    display: none;
   }

   .nav-logo{
    width: 100%;
    padding-top: 10%;
   }

   .nav-logo img{
    width: 60px;
   }

   .header-text-all h1{
    font-size: 2.3rem;
    line-height: 40px;
    text-align: center;
    width: 90%;
    margin-top: -5%;
   }

   .header-text-all p{
    font-size: 1rem;
    width: 80%;
    text-align: justify;
   }

   .header{
    height: 100dvh;
   }

   article{
    height: 101dvh;
   }
}

@media only screen and (min-width: 601px) and (max-width: 900px){
   .nav-links{
      display: none;
     }
  
     .nav-logo{
      width: 100%;
      padding-top: 10%;
     }
  
     .nav-logo img{
      width: 80px;
     }
  
     .header-text-all h1{
      font-size: 4rem;
      line-height: 60px;
      text-align: left;
      width: 70%;
     }
  
     .header-text-all p{
      font-size: 1.5rem;
      width: 70%;
      text-align: justify;
     }
  
     .header{
      height: 100dvh;
     }
}

@media only screen and (min-width: 901px) and (max-width:1200px){
   .nav {
      padding-top: 2.5%;
  }
  
  
  .nav-links a {
      font-size: 0.9rem;
  }
  
  
  .nav-logo img {
      width: 60px;
  }
  
  .header-text-all h1 {
      color: var(--cor-branca);
      font-size: 4.5rem;
      width: 80%;
      line-height: 80px;
      font-family: "Comfortaa", sans-serif;
      text-align: center;
  }
  
  .header-text-all p {
      color: var(--cor-branca);
      width: 80%;
      font-size: 0.8rem;
      margin-top: 10px;
      font-style: italic;
      text-align: center;
  }
}

@media only screen and (min-width: 1201px){
    .nav {
        padding-top: 2.5%;
    }
    
    
    .nav-links a {
        font-size: 1.1rem;
    }
    
    
    .nav-logo img {
        width: 70px;
    }
    
    .header-text-all h1 {
        color: var(--cor-branca);
        font-size: 5rem;
        width: 80%;
        line-height: 100px;
        font-family: "Comfortaa", sans-serif;
        text-align: center;
    }
    
    .header-text-all p {
        color: var(--cor-branca);
        width: 80%;
        font-size: 0.9rem;
        margin-top: 10px;
        font-style: italic;
        text-align: center;
    }
}